/* html {
    font-size: 1rem;
} */
body {
    background-image: url('../images/white_carbon.png');
    font-family: 'Monda', sans-serif;
}

.navbar-brand, #portfolio {
    font-size: 2em;
    color: #fe6f61;
}

nav, footer, .title {
    background-image: url('../images/dark-paths.png');
    color: white;
}

#contact {
    cursor: pointer;
}

footer, h5 {
    color: #fe6f61;
}

.btn {
    background-color: #fe6f61;
    border: none;
}

.portrait {
    width: 100%;
    /* height: 15em;
    object-fit: cover; */
    border-radius: 50%;
    /* padding: 10em 0; */
}

.portfolio-card {
    /* background-color: #ffffff7a; */
    background-image: url('../images/dark-paths.png');
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.portfolio-img {
    width: 100%;
    margin-bottom: 15px;
}
@media (max-width: 576px) {
    .portrait {
        width: 50%;
        object-fit: cover;
    }
    .aboutme {
        text-align: center;
    }
    .aboutme, .contact-info {
        /* font-size: .8em; */
    }
}