html {
    scroll-behavior: smooth;
    /* font-size: 1rem; */
  }
body {
    /* background-image: url('../images/white_carbon.png'); */
    font-family: 'Monda', sans-serif;
    background-color: #f3f3f3;
}

/* .navbar-brand, h2, .footer-text {
    text-shadow: 2px 2px #303030
} */

.contact-info a {
    color: white;
}

.navbar-brand, #portfolio {
    font-size: 2em;
    /* color: #fe6f61; */
}

nav, footer, .title {
    background-position: center;
    /* color: white; */
}

.jumbotron {
    background-image: url('../images/blur-circles-colors-957035.jpg');
    background-position: center;
}

#contact {
    cursor: pointer;
}

.tech {
    text-decoration: underline;
}

.btn {
    background-color: #009f86;
    border: none;
}

.portrait {
    width: 75%;
    /* height: 15em;
    object-fit: cover; */
    border-radius: 50%;
    /* padding: 10em 0; */
}

.portfolio-card {
    border-top-color: #009f86;
    border-top-style: solid;
    border-top-width: 10px;
    background-color: white;
    /* background-image: url('../images/altitude-astrology-astronomy-1819650.jpg'); */
    background-position: center;
    background-size: auto 100%;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    /* color: white; */
    box-shadow: 3px 3px 5px rgb(122, 122, 122);
}

.portfolio-img {
    width: 100%;
    margin-bottom: 15px;
}
@media (max-width: 480px) {
    .portrait {
        width: 50%;
        object-fit: cover;
    }
    .aboutme {
        text-align: center;
    }
    .aboutme, .contact-info {
        /* font-size: .8em; */
    }
}